* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

div {
    border: 1px red solid;
    background-color: aquamarine;
    display:flex;
}


.wrapper{
    flex-direction: row;
    position: absolute;
    height:100%;
    width:100%;
    
}

.sideBar{
    flex-direction: column;
    width:20%;
}
.sierra{
    flex-direction:row;
}

.sierraDetails{
    flex-direction:column;
}
.content{
    flex-direction:column;
    width:80%;
}

.tasks{
    flex-direction:row;
}

.charts{
    flex-direction: column;
}


.sideBarList{
    list-style-type: none;
}

li div {
    display:inline-block;
    
}